@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --vd-blue: hsl(220, 13%, 13%);
  --d-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --l-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);

  --p-fs: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Kumbh Sans;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  background-color: unset;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

header nav .left ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .right img {
  width: 45px;
}

.core {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.description p.pre {
  color: var(--orange);
  text-transform: uppercase;
  font-weight: 700;
}

.description h1 {
  color: var(--vd-blue);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 50px;
}

.description p.desc {
  color: var(--d-grayish-blue);
  font-weight: 500;
}

.description s {
  color: var(--grayish-blue);
}

.description .price .main-tag {
  display: flex;
  align-items: center;
  gap: 20px;
}
.description .price .main-tag p:first-of-type {
  color: var(--vd-blue);
  font-size: 20px;
  font-weight: 700;
}

.description .price .main-tag p:last-of-type {
  color: var(--orange);
  background-color: var(--pale-orange);
}

.description .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.description .buttons .amount {
  display: flex;
  align-items: center;
}

.description .buttons .add-to-cart {
  padding: 10px 30px;
  background-color: var(--orange);
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
}

.description .buttons .add-to-cart svg path {
  fill: #fff;
}

.gallery {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery .image img {
  height: 450px;
}

.gallery .thumbnails {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gallery .thumbnails img {
  height: 100px;
}
